bindPort = 9999
auth.token = "aGOke;{c@NO`Xs>q"

# 默认为 127.0.0.1，如果需要公网访问，需要修改为 0.0.0.0。
webServer.addr = "0.0.0.0"
webServer.port = 17500
# dashboard 用户名密码，可选，默认为空
webServer.user = "adb10086"
webServer.password = "admin"

